<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nakladna.CommonData.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nakladna.CommonData.Settings>
            <setting name="CustomersRow" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CustomersColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TemplatePath" serializeAs="String">
                <value>template.docx</value>
            </setting>
            <setting name="SalesStartRow" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Producer" serializeAs="String">
                <value>П.П. Оганесян</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\database.mdf;Integrated Security=True;Connect Timeout=30</value>
            </setting>
            <setting name="SQLServiceName" serializeAs="String">
                <value>MSSQL$SQLEXPRESS</value>
            </setting>
            <setting name="LastImportedXLS" serializeAs="String">
                <value />
            </setting>
        </Nakladna.CommonData.Settings>
    </userSettings>
</configuration>